.banner{
    // переменная-"компенсатор" смещения
    --imgOffsetY: 24px;

    padding-block: var(--imgOffsetY);

    // media
    @include tablet{
        --imgOffsetY: 0px;
    }

    // позиционирование и стилизация обертки
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-lightgray);
        border-radius: var(--card-border-radius);
    }

    // ограничение ширины описания
    &__description{
        max-width: 500px;
    }

    // выравнивание контента в body
    &__body{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 26px;
        padding: 60px;

        // media
        @include tablet{
            padding: 50px;
        }

        // media
        @include mobile{
            row-gap: 20px;
        }
    }

    // смещение изображения
    &__img{
        margin-block: calc(var(--imgOffsetY) * -1);

        // media
        @include tablet{
            max-width: 40%;
            height: auto;
        }
    }
}