.field{
    // локальные перменные для большей гибкости
    --inputHeight: var(--input-height);
    --inputTextColor: var(--color-dark);
    --inputBgColor: var(--color-white);
    --inputBorderColor: var(--color-dark);
    --inputPlaceholderColor: var(--color-gray-alt);

    // позиционирование элементов внутри field
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;

    // media
    @include mobile{
        row-gap: 10px;
    }

    // модификатор высоты
    &--bigger-h{
        --inputHeight: var(--btn-height); 
    }

    // модификатор цвета
    &--dark-bg{
        --inputBorderColor: var(--color-white);
        --inputBgColor: var(--color-dark-alt);
        --inputPlaceholderColor: var(--color-white);
        --inputTextColor: var(--color-lightgreen);
    }

    &__label{
        @include elastic-text(14, 16)
    }

    // стили для input
    &__input{
        width: 100%;
        height: var(--inputHeight);
        background-color: var(--inputBgColor);
        padding-inline: 30px;
        color: var(--inputTextColor);
        border: 1px solid var(--inputBorderColor);
        border-radius: var(--btn-border-radius);

        // media
        @include mobile{
            padding-inline: 20px;
        }
        
        &::placeholder{
            color: var(--inputPlaceholderColor);
        }

        &--textarea{
            height: 190px;
            padding-block: 18px;
            resize: none;

            // media
            @include mobile{
                height: 132px;
            }
        }
    }
}