.header{
    padding-top: 60px;

    // media
    @include desktop{
        padding-top: 30px;
    }

    // media
    @include mobile{
        padding-top: 15px;
    }

    &-inner{
        // первоначальный разброс элементов
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;

        // media
        @include tablet{
            column-gap: 30px;
        }
        
    }

    &-logo{
        
        // media
        @include tablet{
            max-width: 120px;
        }

        // media
        @include mobile{
            max-width: 144px;
        }

    }

    &-menu {
        // прижатие контейнера меню  вправо
        margin-left: auto;
        font-size: 20px;

        // media
        @include desktop{
            font-size: 18px;
        }

        // media
        @include tablet{
            font-size: 16px;
        }

        // расположение элементов в ряд
        &-list{
            display: flex;
            align-items: center;
            column-gap: 40px;

            // media
            @include desktop{
                column-gap: 20px;
            }

            &-item{

                // увеличение области нажатия
                &-link{
                    // без флекса и выравнивания - не будет работать
                    display: flex;
                    align-items: center;
                    height: 48px;

                    // hover эффект
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        translate: -50%;
                        background-color: currentColor;
                        width: 0;
                        height: 2px;
                        transition-duration: inherit;
                    }

                    @include hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &-btn{
        @include tablet{
            height: 48px;
            padding-inline: 18px;
            font-size: 16px;
        }
    }
}