$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

// миксины позволяющие вписывать медиа запросы непосредственно в селектор тем самым уменьшая объем и путаницу медиа запросов
@mixin desktop-above {
    @media (min-width: $desktop-above) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

// использование ⬆️

// .element{
//     padding-block: 100px;
//     font-size: 100px;

//     @include desktop {
//         padding-block: 50px;
//         font-size: 50px;
//     }
// }

// миксин делающий корректным эффект hover на сенсорных устройствах
@mixin hover {
    @media (hover:hover) {
        &:hover{
            @content;
        }
    }

    @media (hover:none) {
        &:active{
            @content;
        }
    }
}

// использование ⬆️

// button{
//     background-color: lightblue;

//     @include hover {
//         background-color:tomato;
//     }
// }