:root{
    --color-lightgreen: #B9FF66;
    --color-dark: #191A23;
    --color-dark-alt: #292A32;
    --color-lightgray: #F3F3F3;
    --color-gray-alt: #898989;
    --color-white: #ffffff;

    --border: 1px solid var(var(--color-dark));

    --section-title-border-radius: 7px;
    --btn-border-radius: 14px;
    --card-border-radius: 45px;

    // тени карточек
    --shadow: 0px 5px 0px 0px var(var(--color-dark));

    --font: 'Space Grotesk', sans-serif;

    // ширина контентного контейнера
    --container-width: 1240px;

    --container-padding-x: 20px;

    --section-padding-y: 70px;

    --input-height: 59px;

    --btn-height: 68px;

    --transition-duration: .2s;
}